In [5]:
from itertools import product
import pandas as pd
import datetime
from dateutil.parser import parse
import random

In [2]:
#Example_Start

def expand_grid(dictionary):
   return pd.DataFrame([row for row in product(*dictionary.values())], 
                       columns=dictionary.keys())

dictionary = {'color': ['red', 'green', 'blue'], 
              'vehicle': ['car', 'van', 'truck'], 
              'cylinders': [6, 8]}

expand_grid(dictionary)
#Example_End

    color vehicle  cylinders
0     red     car          6
1     red     car          8
2     red     van          6
3     red     van          8
4     red   truck          6
5     red   truck          8
6   green     car          6
7   green     car          8
8   green     van          6
9   green     van          8
10  green   truck          6
11  green   truck          8
12   blue     car          6
13   blue     car          8
14   blue     van          6
15   blue     van          8
16   blue   truck          6
17   blue   truck          8

In [6]:
date1 = '2019-01-01'
dates = [(parse(date1) - datetime.timedelta(days=x)).strftime('%d-%m-%Y') for x in range(-6, 1)]
dates.sort()

In [15]:
d = {'ATM': [random.randint(11011,99099) for p in range(0, 6)], 
     'Date': dates,
     'Cash': [random.randint(100000,500000) for p in range(0,2)]
    }
d

{'ATM': [37100, 20533, 95430, 30557, 47044, 97794],
 'Date': ['01-01-2019',
  '02-01-2019',
  '03-01-2019',
  '04-01-2019',
  '05-01-2019',
  '06-01-2019',
  '07-01-2019'],
 'Cash': [404675, 160216]}

In [20]:
df = expand_grid(d)

In [22]:
type(df)

pandas.core.frame.DataFrame

In [24]:
df

      ATM        Date    Cash
0   37100  01-01-2019  404675
1   37100  01-01-2019  160216
2   37100  02-01-2019  404675
3   37100  02-01-2019  160216
4   37100  03-01-2019  404675
5   37100  03-01-2019  160216
6   37100  04-01-2019  404675
7   37100  04-01-2019  160216
8   37100  05-01-2019  404675
9   37100  05-01-2019  160216
10  37100  06-01-2019  404675
11  37100  06-01-2019  160216
12  37100  07-01-2019  404675
13  37100  07-01-2019  160216
14  20533  01-01-2019  404675
15  20533  01-01-2019  160216
16  20533  02-01-2019  404675
17  20533  02-01-2019  160216
18  20533  03-01-2019  404675
19  20533  03-01-2019  160216
20  20533  04-01-2019  404675
21  20533  04-01-2019  160216
22  20533  05-01-2019  404675
23  20533  05-01-2019  160216
24  20533  06-01-2019  404675
25  20533  06-01-2019  160216
26  20533  07-01-2019  404675
27  20533  07-01-2019  160216
28  95430  01-01-2019  404675
29  95430  01-01-2019  160216
..    ...         ...     ...
54  30557  07-01-2019  404675
55  30557  07-01-2019  160216
56  47044  01-01-2019  404675
57  47044  01-01-2019  160216
58  47044  02-01-2019  404675
59  47044  02-01-2019  160216
60  47044  03-01-2019  404675
61  47044  03-01-2019  160216
62  47044  04-01-2019  404675
63  47044  04-01-2019  160216
64  47044  05-01-2019  404675
65  47044  05-01-2019  160216
66  47044  06-01-2019  404675
67  47044  06-01-2019  160216
68  47044  07-01-2019  404675
69  47044  07-01-2019  160216
70  97794  01-01-2019  404675
71  97794  01-01-2019  160216
72  97794  02-01-2019  404675
73  97794  02-01-2019  160216
74  97794  03-01-2019  404675
75  97794  03-01-2019  160216
76  97794  04-01-2019  404675
77  97794  04-01-2019  160216
78  97794  05-01-2019  404675
79  97794  05-01-2019  160216
80  97794  06-01-2019  404675
81  97794  06-01-2019  160216
82  97794  07-01-2019  404675
83  97794  07-01-2019  160216

[84 rows x 3 columns]